.widgetLg {
  flex: 2;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
}
.widgetLgTitle {
  font-style: 22px;
  font-weight: 600;
}
.widgetLgTable {
  width: 100%;
  border-spacing: 20px;
}
.widgetLgTh {
  text-align: left;
}
.widgetLgUser {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.widgetLgImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}
.widgetLgButton.Approved {
  background-color: lightgreen;
  color: darkgreen;
}
.widgetLgButton.Declined {
  background-color: lightpink;
  color: darkred;
}
.widgetLgButton.Pending {
  background-color: lightblue;
  color: darkslateblue;
}

.widgetLgDate,
.widgetLgAmount {
  font-weight: 300;
}
.widgetLgStatus {
}
.widgetLgTr {
}
