.successContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SuccessBtn {
  border: none;
  width: 120px;
  border-radius: 5px;
  padding: 20px;
  background-color: green;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
